/* ==========================================================================
   Base
   ========================================================================== */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #999;
  color: #fff;
}

header {}

main {}

footer {}



/* ==========================================================================
   Layout
   ========================================================================== */
/* ==========================================================================
   Module
   ========================================================================== */
/* ==========================================================================
   State
   ========================================================================== */
/* ==========================================================================
   Theme
   ========================================================================== */