
* {}

body {
    font-family: sans-serif;
    margin: 0;
    color: #444;
    background-color: royalblue;
}

.container {
    width: 768px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    padding: 10px;
}

header {
    margin-bottom: 2em;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 0 0 15px;
}

h1 span {
    font-size: 15px;
}

h1 + span {
    margin: 0 auto;
    display: block;
    text-align: center;
}

section {
    background: whitesmoke;
    padding: 0.1em;
    position: relative;
    margin-bottom: 1.8em;
}

h4 {
    margin-left: 2em;
    position: absolute;
    width: 150px;
    display: inline-block;
    top: -2.4em;
    background: chartreuse;
    padding: 5px;
}