
* {}

body {
    font-family: sans-serif;
    margin: 0;
    color: #444;
    background-color: rgb(77,188,233);
}

main {
    width: 768px;
    background: rgb(38,173,228);
    margin: 0 auto;
    padding: 10px;
    height: 100%;
}

header {
    margin-bottom: 2em;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: rgb(255,255,255);
    margin: 0 0 5px;
}

h1 + span {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}
section {
    background: whitesmoke;
    padding: 0.1em;
    position: relative;
    margin-bottom: 3.2em;
    padding-left: 2em;
}

h4 {
    margin-left: 2em;
    position: absolute;
    width: 65px;
    display: inline-block;
    top: -2.4em;
    left: -20px;
    background: rgb(209,231,81);
    padding: 5px;
    transform: rotate(-15deg);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

span em {
    font-style: normal;
    font-size: 1.5em;
    color: chartreuse;
    margin: 0.3em;
}

ul {
    margin-top: 1.6em;
}

li {
    margin-bottom: 1em;
    list-style-image: url('images/list_icon.png');
}

a {
    
    color:rgb(0,0,0);
}

span em {
    font-style: normal;
    font-size: 1.5em;
    color: rgb(209,231,81);
    margin: 0.3em;
}
